* {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.pt-14 {
    font-size: 19px;
}

.pt-16{     
    font-size: 21px;
}

.pt-18 {
    font-size: 24px;
}

.justify {
    text-align: justify;
}


.row {
    display: flex;
    position: relative;
}

.row-center {
    display: flex; 
    align-items: center;
    justify-content: center;
}
//kop surat

.kop {
    text-align: center;
}


.logo {
    height: 150px;
    padding: 10px 10px 10px 0;
}

hr {
    height: 1px;
    color: rgb(32, 32, 32);
    background-color: rgb(32, 32, 32);
}



// isi surat
.tanggal {
    margin: 0;
    right: 0px;
    vertical-align: top;
    position: absolute;
}

.table {
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
}

.table-borderless {
    table {
        width: 100%;
    }
    th, td{
        vertical-align: top;
    }
}





// footer surat
.kotak-ttd {
    position: relative;
    height: 230px;
    margin-top: 10px;
    
    .posisi-kanan {
        position: absolute;
        top: 8px;
        right: 16px;
    }
    
    .tempat-ttd {
        height: 70px;
    }
}

.tembusan {
    left: 16px;
}